<mat-card class="text-content">
  <div>
    <h3>Who are we?</h3>
    <p>
      InsuredMine is a technology company. We make leveraging agency data by
      agency users simple, easy, convenient, and intuitive. We are a team of
      young and smart technologists, writers, thinkers and innovators from
      across the world, who share an intense passion-fueled drive to bring
      simple solutions to complex problems that plague insurance agencies. By
      combining tools for sales, engagement, analytics, and mobility we are
      revolutionizing the policyholder experience and the agency KPI’s.
    </p>
  </div>
</mat-card>

<mat-card class="text-content">
  <div>
    <h3>What we do?</h3>
    <p>
      Agencies and their staff often do not have technology tools that are
      simple and intuitive to manage their client and prospect relationships.
      From marketing and relationship-building to the sales process to account
      nurturing and retention a need existed for an all-in-one tool for Sales,
      Engagement, Analytics, and Mobility. InsuredMine fills that need.
    </p>
  </div>
</mat-card>
